body {
    background-color: #252526;
}

#login {
    margin: 0 auto; 
    width: fit-content; 
    text-align: center; 
    font-size: x-large;
}

#instructions {
    color: white;
    font-size: 38px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

input[type=text] {
    padding: 3px;
    border: none;
    border-bottom: 2px solid white;
    background-color: #252526;
    caret-color: white;
    color: white;
}

input[type=submit] {
    padding: 5px;
    border-radius: 10%;
    color: black;
    background-color: white;
}

input:focus {
    outline: none;
}

@media (max-width: 768px){
    input[type=text] {
        font-size: x-large;
    }
    input[type=submit] {
        font-size: x-large;
        padding-top: 2%;
    }
}